DOMAIN=badhon.example.com
APP_ORIGIN=https://badhon.example.com
JWT_SECRET=
MONGO_ROOT_USERNAME=badhonAdmin
MONGO_ROOT_PASSWORD=
MONGO_APP_USERNAME=badhonApp
MONGO_APP_PASSWORD=
MONGO_URI=
TLS_CERT_PATH=/etc/letsencrypt/live/badhon.example.com/fullchain.pem
TLS_KEY_PATH=/etc/letsencrypt/live/badhon.example.com/privkey.pem