DOMAIN=badhon.mooo.com
APP_ORIGIN=https://badhon.mooo.com
JWT_SECRET=
MONGO_ROOT_USERNAME=badhonAdmin
MONGO_ROOT_PASSWORD=
MONGO_APP_USERNAME=badhonApp
MONGO_APP_PASSWORD=
MONGO_URI=
MONGO_BACKUP_URI=
TLS_CERT_PATH=/etc/letsencrypt/live/badhon.mooo.com/fullchain.pem
TLS_KEY_PATH=/etc/letsencrypt/live/badhon.mooo.com/privkey.pem